@charset "utf-8";

#show-todo {
  display: none;
}

.to-do-item {
  cursor: pointer;
  color: #0088cc;
}

.to-do-item:hover {
  text-decoration: underline;
}

body {
  background-image: url(../css/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
}

.col-sm-5 {
  color: blue;
}
